*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px 10px;
    background-color: #d2d2d2;
}
a, .banner, .article_item, .footer{
    display: block;
    background-color: rgba(21, 161, 210, 0.51);
    color: #FAF9F7;
}
.header_nav-menu{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.header_nav-menu>a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 5vh;
    border-radius: 10px;
    font-size: 1em;
}
.banner{
    display: flex;
    justify-content: flex-end;
    height: 45vh;
    margin-bottom:20px;
    border-radius: 20px;
}
.banner>span{
    margin: 25px;
    font-size: 2.5em;
}
.article-items_box{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    flex-wrap: wrap;
    gap: 5px;
}
.article_item{
    display: flex;
    justify-content: flex-end;
    flex-basis: 49%;
    height: 19vh;
    border-radius: 20px;
    margin-bottom:5px;
}
.article_item>span{
    margin: 25px;
    font-size: 2.5em;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    height: 8vh;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 1.5em;
}



